body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container-1 {
    background-color: #1f2937;
}


nav, a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    float: left;
    text-align: center;
}

.center {
    font-family: 'Times New Roman', Times, serif;
    color: #e5e7eb;
    font-size: 18px;
    padding: 10px;
    display: inline-block;
}

.font1 {
    font-weight: bolder;
    color: #f9faf8;
    font-size: 38px;
    font-family: 'Times New Roman', Times, serif;
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 12px;
    border: 2px solid #3882f6;
    padding: 8px;
}

.topnav {
    font-weight: bold;
    font-size: 20px;
    overflow: hidden;
}

.topnav a {
    float: left;
    text-align: center;
}

.topnav-right {
    float: right;
}

.topnav, .nav-left {
    font-size: 24px;

}

.container-2 {
    padding: 80px;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.main {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

.card {
    float: left;
    padding: 0 10px;
}

.card > img {
    border-radius: 15px;
    border: 3px #3882f6 solid;
    display: flex;
    justify-content: space-evenly;
    height: 200px;
    width: 90%;
}

.container-3 {
    background-color: #e5e7eb;
    padding: 100px;
    
}

.quote {
    font-weight: lighter;
    font-style: italic;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
}

.author {
font-weight: bold;
position: absolute; right: 175px;
font-size: 20px;
padding: 12px;
}

.updates {
    background-color: #3882f6;
    justify-content: center;
    margin: 100px;
    padding: 45px;
    color: #f9faf8;
    border-radius: 6px;
}   

.signup {
    border: 2px white solid;
    position: absolute; right: 175px; 
}  

.font2 {
font-weight: bold;
}

.image-1 > img {
    height: 200px;
    width: auto;
    float: right;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 40px;
    font-family: 'Times New Roman', Times, serif;
}
